<div class="row">
    <div class="col-md-6 offset-3">
        <h3 class="text-center">Users Feedback</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Comments</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let feed of data">
                    <td>{{feed.name}}</td>
                    <td>{{feed.email}} </td>
                    <td>{{feed.comments}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>