<div class="container mt-3">
    <div class="row">
      <div class="col-6 offset-3 mt-2">
        <h1 class="text-center">Sign Up:</h1>
        <hr>
        <form [formGroup]="userFormGroup" class="mt-5">
          <div class="form-group mt-3 col-md-8 offset-2" >
            <div>
              <input type="text" class="form-control" formControlName="usernameControl" style="margin-top: 5px" placeholder="Username" required/>
            </div>
            <div>
              <input type="password" class="form-control" formControlName="passwordControl" style="margin-top: 5px" placeholder="Password" required/>
            </div>
            <div>
              <input type="text" class="form-control" formControlName="emailControl" style="margin-top: 5px" placeholder="Your Email" required/>
            </div>
            <div class="row" style="margin-top: 10px">
              <button type="submit" class="btn btn-dark col-6 offset-3 mt-3" (click)="addUser()" [disabled]="userFormGroup.invalid">Submit</button>
            </div>
          </div>
      </form>
      </div>
    </div>
    <h2 class="text-center mt-2" *ngIf="submitted && userFormGroup.untouched">Thanks for your registration !!</h2>
  </div>